.paginator-container {
  width: 100%;
  height: 100%;
}

.get-users-btn {
  width: 100px;
  height: 40px;
}

.paginator-table {
  width: 100%;
  height: auto;
}

td {
  text-align: center;
}

.hide {
  pointer-events: none;
  opacity: 0.7;
}
