<div class="paginator-container">
  <button class="get-users-btn" (click)="getUsers()">Get Users</button>
  <table class="paginator-table">
    <thead>
      <tr>
        <th>Gender</th>
        <th>Name</th>
        <th>Email</th>
        <th>Picture</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of currentResults">
        <td>{{ user.gender }}</td>
        <td>{{ user.name.first }}</td>
        <td>{{ user.email }}</td>
        <td><img src="{{ user.picture.medium }}" alt="" /></td>
      </tr>
    </tbody>
  </table>
  <button class="btn-previous"><</button>
  <button
    class="btn-next"
    (click)="next()"
    [ngClass]="{ hide: currentTo >= totalRecords }"
  >
    >
  </button>
</div>
